body{
  font-family: 'Poppins', sans-serif;
  background-color: #DBEAFE;



}
.form2{
  width:500px;
  margin: auto;
  margin-top:80px;
  border-radius: 10px;
  border-color: none;

  background-color: #EFF6FF;
}

.main{
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-radius: 4px;
  border-color: none;
}
.main,.form2:hover{
  border-radius: 50px 0px 50px 0px;

}
.heading{
  text-align:center;
}
.first-name{
  display: inline-block;
  margin-right: 100px;
  margin-bottom: 15px;
}

.fname{
  margin-left:0;
  position:relative;
  font-size: 0.8rem;
  color:#4B5563;
}
.ifirstname{
  width:10.5rem;
  height: 30px;
  border-radius: 5px;
  border-color: #E5E7EB;
  border-style: solid;
}
.last-name{

  position: relative;
  right:11px;
  text-align: right;
  display: inline-block;
}
.ilastname{
  width: 11rem;
  height: 30px;
  border-radius: 5px;
  border-color: #E5E7EB;
  border-style: solid;
}
.email{
  margin-bottom: 15px;
  display: block;
  font-size: 0.8rem;
}
.password{
  margin-bottom: 15px;
  display: block;
  font-size: 0.8rem;

}
.confirm-password{
  margin-bottom: 15px;
  font-size: 0.8rem;
  display: block;
}
.birth-date{
  margin-bottom: 15px;
}
.lname{
  margin-left: 0;
  position: relative;
  right: 105px;
  font-size: 0.8rem;
  color:#4B5563;
}
.birth{
  font-size: 0.8rem;
}
.ibirth{
  height: 30px;
  border-radius: 5px;
  border-color: #E5E7EB;
  border-style: solid;
}
.Email{
  color:#4B5563;
}
.iemail{
  width: 90.5%;
  height: 30px;
  border-radius: 5px;
  border-color: #E5E7EB;
  border-style: solid;
}
.Pass{
  color:#4B5563;
}

.birth-date{
  color: #4B5563;
}
.ipassword{
  width: 90.5%;
  height: 30px;
  border-radius: 5px;
  border-color: #E5E7EB;
  border-style: solid;
}
.iconfirm-password{
  width:90.5%;
  height: 30px;
  border-radius: 5px;
  border-color: #E5E7EB;
  border-style: solid;
}

.btn-submit{

  width:82px;
  margin-left: auto;
  margin-right: auto;
  border-color: #E5E7EB;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #FFD20F;
  
}
.btn-submit:hover{
  background-color:#FBBF28;
}
.abtn{
  margin-left: 12px;
  color:#4B5563;
}
.abtn:hover{
  color: royalblue;
}
a{
  text-decoration: none;

}
